# CMake
/build/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake

# Visual Studio
*.sln
*.vcxproj*
*.vcxproj.filters
*.vcxproj.user
.vs/

# Артефакты сборки
/bin/
/Release/
/Debug/

# Дополнительно
*.log
